/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.2rem;
    text-align: center;
}

img {
    width: 20%;
    height: 20%;
    border: 1px black;
}

/* Navigation bar */
header {
    background-color: orange;
    color: black;
}

header .navbar {
    background-color: orange !important;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
    text-align: end;
}

.navbar-left {
    border-right: 1px solid black;
}

/* Thanh link */

a img {
    width: 150px;
    height: 150px;
    cursor: pointer;
    position: absolute;
    top: -20px;
    left: -10px;
}

.nav-link {
    color: white;
    font-size: 1.3rem;
    font-weight: bolder;
    opacity: 0.7;
    margin: 20px 15px; 
    padding: 10px;
    /* border-left: 1px solid black; */
}

.active-now {
    border-bottom: 2px solid black;
}

.nav-link:hover {
    opacity: 1;
    color: white;
    border-bottom: 2px solid black;
    font-weight: bolder;
}

.nav-link:focus {
    opacity: 0.5;
    color: black;
    border-bottom: 2px solid black;
    font-weight: bolder;
}

/* Giới thiệu */
h1 {
    padding: 10px;
    font-size: 5rem;
}

.gioi-thieu {
    margin: 50px 100px;
    padding: 20px;
    background-color: rgb(242, 191, 97);
    border-radius: 30px;
    color: black;
}

.gioi-thieu-SP {
    margin: 50px 250px;
    padding: 20px;
    background-color: rgb(243, 243, 149);
    border-radius: 40px;
}

.Reasons {
    margin: 50px 280px;
    padding: 20px;
    background-color: lightblue;
    border-radius: 50px;
}

.Feature>p{
    font-size: 1.45rem;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: orange;
}

.copyright {
    color: #8f8f88;
    font-family: sans-serif;
    font-weight: lighter;
}

.copyright>a {
    color: #8f8f88;
    font-weight: bolder;
}

/* ===RESPONSIVE=== */
@media screen and (max-width: 1028px) {

    .gioi-thieu-SP{
        margin: 50px 150px;
    }

    .Reasons{
        margin: 50px 150px;
    }

    .navbar-left {
        border-bottom: 1px solid black;
        border-right: none;
    }

}

