* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Navigation bar */
header {
    background-color: orange;
    color: black;
}

header .navbar {
    background-color: orange !important;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
    text-align: end;
}

.navbar-left {
    border-right: 1px solid black;
}

/* Thanh link */

a img {
    width: 150px;
    height: 150px;
    cursor: pointer;
    position: absolute;
    top: -20px;
    left: -10px;
}

.nav-link {
    color: white;
    font-size: 1.3rem;
    font-weight: bolder;
    opacity: 0.7;
    margin: 20px 15px; 
    padding: 10px;
    /* border-left: 1px solid black; */
}

.Active-now {
    border-bottom: 2px solid black;
    color: black;
    font-weight: bolder;
}

.nav-link:hover {
    opacity: 1;
    color: white;
    border-bottom: 2px solid black;
    font-weight: bolder;
}

.nav-link:focus {
    opacity: 0.5;
    color: black;
    border-bottom: 2px solid black;
    font-weight: bolder;
}

/* Search-Bar */
.search{
    padding: 10px;
}

/* List */
.List {
    padding: 10px;
}

.Product-img img {
    width: 100px;
}

.Buy-btn {
    border: none;
    border-radius: 30px;
    width: 100%;
    height: 50%;
    font-weight: bolder;
    color: white;
    justify-content: center;
}

.Buy-btn:hover {
    background-color: chocolate;
    color: black;
}

.info{
    padding: 0 40px;
    text-align: right;
    font-weight: bolder;
}

i:hover{
    cursor: pointer;
}

/* ===RESPONSIVE=== */
@media screen and (max-width: 1028px) {

    .navbar-left {
        border-bottom: 1px solid black;
        border-right: none;
    }
    
}