* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p {
    font-size: large;
    line-height: 2;
}

/* Navigation bar */
header {
    background-color: orange;
    color: black;
}

header .navbar {
    background-color: orange !important;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
    text-align: end;
}

.navbar-left {
    border-right: 1px solid black;
}

/* Thanh link */

a img {
    width: 120px;
    height: 120px;
    cursor: pointer;
}

.nav-link {
    color: white;
    font-size: 1.3rem;
    font-weight: bolder;
    opacity: 0.7;
    margin: 20px 15px; 
    padding: 10px;
    /* border-left: 1px solid black; */
}

.Active-now {
    border-bottom: 2px solid black;
    color: black;
    font-weight: bolder;
}

.nav-link:hover {
    opacity: 1;
    color: white;
    border-bottom: 2px solid black;
    font-weight: bolder;
}

.nav-link:focus {
    opacity: 0.5;
    color: black;
    border-bottom: 2px solid black;
    font-weight: bolder;
}

/* Product-Section */
.Product {
    padding: 20px;
}

.Buy {
    width: 100%;
    height: 50px;
    border-radius: 30px;
    font-weight: bolder;
    color: white;
}

.Buy:hover {
    background-color:  chocolate;
    color: black;
}

/* For new products only */
.New{
    position: absolute;
    left: 30px;
    top: 350px;
    width: 200px;
    height: 150px;
}

/* IMG */
.size>img{
    width: 550px;
    align-content: center;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: orange;
}

.copyright {
    color: #8f8f88;
    font-family: sans-serif;
    font-weight: lighter;
}

.copyright>a {
    color: #8f8f88;
    font-weight: bolder;
}

/* ===RESPONSIVE=== */
@media screen and (max-width: 1028px) {

    .navbar-left {
        border-bottom: 1px solid black;
        border-right: none;
    }
    
}