/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    text-align: center;
}

/* Navigation bar */
header {
    background-color: orange;
    color: black;
}

header .navbar {
    background-color: orange !important;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
    text-align: end;
}

.navbar-left{
    border-right: 1px solid black;
}

/* Thanh link */

a img {
    width: 150px;
    height: 150px;
    cursor: pointer;
    position: absolute;
    top: -20px;
    left: -10px;
}

.nav-link {
    color: white;
    font-size: 1.3rem;
    font-weight: bolder;
    opacity: 0.7;
    margin: 20px 15px; 
    padding: 10px;
    /* border-left: 1px solid black; */
}

.home {
    border-bottom: 2px solid black;
}

.nav-link:hover {
    opacity: 1;
    color: white;
    border-bottom: 2px solid black;
    font-weight: bolder;
}

.nav-link:focus {
    opacity: 0.5;
    color: black;
    border-bottom: 2px solid black;
    font-weight: bolder;
}


/* Banner */
.Banner {
    padding-top: 15px;
    padding-block: 15px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    justify-content: center;
    width: 100%;
    height: 100%;
}


.carousel-item>img {
    width: 100%;
    height: 100%;
}

/* Featured-products */

.card {
    /* margin: 0 30px; */
    display: inline-flex;
    justify-content: center;
    border: 2px solid black;
}

.Featured-products {
    padding-top: 15px;
    padding-block: 15px;
}

.FP-button{
    border: none;
    border-radius: 30px;
    width: 100%;
    font-weight: bolder;
    color: white;
}

.FP-button:hover{
    background-color: chocolate;
    color: black;
}

/* Ratings */
.Customers-Ratings {
    margin: 10px 0;
}

.Ratings {
    text-align: center;
    background-color: aliceblue;
    width: 100%;
    height: 100%;
}

.Ratings>p {
    font-size: 2rem;
    line-height: 1;
}

.Ratings>img {
    width: 10%;
    border-radius: 50%;
    margin: 20px;
}

.Ratings>i {
    font-size: 2rem;
    padding: 10px;
}

em {
    color: #8f8f88;
    font-size: 2rem;
}


/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: orange;
}

.copyright {
    color: #8f8f88;
    font-family: sans-serif;
    font-weight: lighter;
}

.copyright>a {
    color: #8f8f88;
    font-weight: bolder;
}

/* ===RESPONSIVE=== */
@media screen and (max-width: 1028px) {

    .products{
        display: inline-flex;
        flex-direction: column;
    }

    .card-title{
        font-size: 3rem;
    }

    .card-text{
        font-size: 1.5rem;
    }

    .navbar-left {
        border-bottom: 1px solid black;
        border-right: none;
    }

}